.separator {
  width: 670px;
  height: 1px;
  background-color: #0000007a;
  margin-top: 15px;
  margin-bottom: 25px;
}
.miniSeparator {
  width: 150px;
  height: 1px;
  background-color: #0000002d;
  margin-top: 5px;
  margin-bottom: 5px;
}
.imageCard {
  width: 330px;
  height: 215px;
  cursor: pointer;
  transition: 1s;
}
.imageCard:hover {
  width: 380px;
  height: 265px;
  cursor: pointer;
}
.facilities {
  max-width: 300px;
  color: #3d3d3d93;
}
.overflow {
  overflow-y: scroll;
  height: 90vh;
}

.scrollbar::-webkit-scrollbar {
  width: 30px;
  height: 20px;
}

.bgBooking {
  background-image: url("../assets/bg-booking.png");
  background-position: center;
  background-size: cover;
}
