.background{
    color: #29738F;
}

.content{
    backdrop-filter: blur(20px) saturate(100%);
    -webkit-backdrop-filter: blur(20px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem 0px 0px 0.5rem;
    border: 1px solid rgba(209, 213, 219, 0.3);
    position: relative;
}

.form{
    background: #fcfffeb2;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    text-align: center;
}

.formCard{
    margin: 1rem 0px;
}

.form h1{
    font-size: 2.3rem;
    font-weight: bold;
}

.form h2{
    font-size: 2rem;
}

.form button{
    color: #fff;
    background: #29738F;
    padding: 0.5rem 1rem;
}

.form button svg{
    display: inline-block;
}


.logo{
    height: 120px;
}

.input{
    position: relative;
}

.input label{
    opacity: 0;
    right: 1rem;    
    position: absolute;
}

.input input:focus + label{
    opacity: 1;
}

.input {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #fff;
    border: #29738F 2px solid;
    border-radius: 0.5rem;
    margin: 0px auto;
    margin-bottom: 0.5rem;
    max-width: 350px;
}

.input input{
    width: 250px;
    height: 25px;
    border-left: #29738F 2px solid;
    padding: 0px 1rem;
}

.input input:focus{
    outline: none;
}

.input svg{
    font-size: 1.35rem;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 0rem;
    transform: translateY(calc(-50% - 0.5rem));
    margin: 0px 0.7rem;
}